<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>my shop</title>
    <link rel="stylesheet" href="css\shop.css">
</head>
<body>
    <header class="main-header"> 
        <nav class="main-header-navbar">
            <ul class="main-header-navbar-ul">
                <li class="main-header-navbar-ul-li"><a href="/shop">shop</a></li>
                <li class="main-header-navbar-ul-li"><a href="/admin/add-product">Add product</a></li>
                <li class="main-header-navbar-ul-li"><a href="/contactUs">Contact Us</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>products</h1>
        <p>the product list</p>
        
    </main>
</body>
</html>